@if(!(isEnable$ | async)){
    <button type="button" class="btn btn-dark position-fixed" (click)="toggleIsEnabled()" style="bottom: 20px; left: 20px;">Accesibilidad</button>
}
@else {
    <div class="bg-light border rounded p-2 shadow-sm position-relative" style="margin-bottom: 20px; margin-left: 20px;">
        <h5 class="fw-bold">Accesibilidad</h5>

        <h6>Tamaño de fuente</h6>
        <div class="btn-group d-flex mb-2">
            <button class="btn btn-secondary btn-sm" (click)="setFontSize(1)">x1</button>
            <button class="btn btn-secondary btn-sm" (click)="setFontSize(1.25)">x1.25-</button>
            <button class="btn btn-secondary btn-sm" (click)="setFontSize(1.5)">x1.50</button>
            <button class="btn btn-secondary btn-sm" (click)="setFontSize(1.75)">x1.75</button>
            <button class="btn btn-secondary btn-sm" (click)="setFontSize(2)">x2</button>
        </div>

        <h6>Altura de linea</h6>
        <div class="btn-group d-flex mb-2">
            <button class="btn btn-secondary btn-sm" (click)="setLineHeight(1)">x1</button>
            <button class="btn btn-secondary btn-sm" (click)="setLineHeight(1.33)">x1.33</button>
            <button class="btn btn-secondary btn-sm" (click)="setLineHeight(1.66)">x1.66</button>
            <button class="btn btn-secondary btn-sm" (click)="setLineHeight(2)">x2</button>
        </div>

        <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" id="highlightLinks" (change)="toggleGrayScale()" />
            <label class="form-check-label" for="highlightLinks">Escala de grises</label>
        </div>

        <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" id="highlightLinks" (change)="toggleImages()" />
            <label class="form-check-label" for="highlightLinks">Ocultar imagenes</label>
        </div>

        <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" id="highlightLinks" (change)="toggleLinkHighlight()" />
            <label class="form-check-label" for="highlightLinks">Resaltar enlaces</label>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="highContrast" (change)="toggleReadingMask()" />
            <label class="form-check-label" for="highContrast">Mascara de lectura</label>
        </div>
        <button type="button" class="btn-close btn-close-black me-2 mt-2 position-absolute top-0 end-0" (click)="toggleIsEnabled()"></button>
    </div>

    @if(this.readingMaskEnable$ | async){
        <div #readingMaskTop class="border-bottom border-primary position-fixed w-100 top-0 user-select-none"
            style="border-width: 8px !important; background-color: rgba(0, 0, 0, 0.50); z-index: 100000;">

        </div>
        <div #readingMaskBottom class="border-top border-primary position-fixed w-100 bottom-0 user-select-none"
            style="border-width: 8px !important; background-color: rgba(0, 0, 0, 0.50); z-index: 100000;">

        </div>
    }
}