<div id="banner" class="w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="w-75 h-50 d-flex flex-column bg-transparent z-3">
        <h1 class="text-light">Basa & Brasa</h1>
        <p class="text-light w-50 fs-5">En el corazón de nuestra propuesta se encuentra un espacio diseñado para el deleite. En nuestro restaurante, fusionamos ingredientes de proximidad con técnicas de vanguardia para ofrecerte una carta que cuenta una historia en cada bocado. </p>
    </div>    
</div>